.post {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.vote-container {
  justify-content: space-between;
}

.icon-left {
  margin-right: 8px;
}

.icon-right {
  margin-left: 8px;
}
