.post {
  padding: 20px;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -15px;
  padding: 15px 8px 10px;
}
