@charset "utf-8";

$primary: #ae9acc;
$info: #5662b2;
$success: #69a975;
$warning: #e7993d;
$danger: #f44336;
$light: #eef0f0;
$light-accent: #e84f89;
$dark-accent: #747175;
$dark: #5662b2;

@import '../node_modules/bulma/bulma.sass';

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.has-text-accent-light {
  color: $light-accent !important;
}

.has-text-accent-dark {
  color: $dark-accent !important;
}

.special-font {
  font-family: 'Pacifico';
}
