@charset "utf-8";

$primary: #e14f4e;
$info: #373e4f;
$success: #79924f;
$warning: #f68217;
$danger: #f44336;
$light: #f0f6f2;
$light-accent: #eec14c;
$dark-accent: #908a9c;
$dark: #373e4f;

@import '../node_modules/bulma/bulma.sass';

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.has-text-accent-light {
  color: $light-accent !important;
}

.has-text-accent-dark {
  color: $dark-accent !important;
}

.special-font {
  font-family: 'Staatliches';
}
